body{
    text-align: center;
}
button{
    padding: 30px 30px;
    font-size: 50px;
    background-color: hsl(0, 0%, 0%);
    border-radius: 100px;
    border: 1px solid red;
    cursor: pointer;
}
button:hover{
    background-color: hsl(0, 0%, 10%);
    font-size: 49px;
}
button:active{
    background-color: hsl(0, 0%, 0%);
    font-size: 50px;
}
#computer{
    font-size: 50px;
}
