body{
    text-align: center;
    background-color: black;
    color: white;
}
.buttons button{
    padding: 30px 30px;
    font-size: 50px;
    background-color: hsl(0, 0%, 0%);
    border-radius: 0px;
    border: 0px solid red;
    cursor: pointer;
    border: 1px solid white;
    border-radius: 5px;
}
.buttons button:hover{
    font-size: 45px;
}
.buttons button:active{
    background-color: hsl(0, 0%, 0%);
    font-size: 50px;
}
#computer{
    font-size: 30px;
}
#Reset{
    font-size: 15px;
    font-weight: bold;
    background-color: black;
    color: white;
    border: 1px solid;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
}
#Reset:active{
    font-size: 13px;
}
@media screen and (max-width: 768px){
    body{
        font-size: 14px;
    }
    .buttons button{
        font-size: 40px;
        padding: 10px 10px;
    }
    .buttons button:hover{
        font-size: 38px ;
    }
    #attempt{
        float: right;
        margin-top: 0px;
        margin-right: 20px;
    }
}