body{
    text-align: center;
    background-color: black;
    color: white;
}
button{
    padding: 30px 30px;
    font-size: 50px;
    background-color: hsl(0, 0%, 0%);
    border-radius: 0px;
    border: 0px solid red;
    cursor: pointer;
    border: 1px solid white;
    border-radius: 5px;
}
button:hover{
    font-size: 45px;
}
button:active{
    background-color: hsl(0, 0%, 0%);
    font-size: 50px;
}
#computer{
    font-size: 30px;
}
#attempt{
    float: right;
    margin-top: 0px;
    margin-right: 100px;
}
#heading{
    text-align: center;
    margin-right: 0px;
}
@media screen and (max-width: 768px){
    body{
        font-size: 14px;
    }
    button{
        font-size: 40px;
        padding: 10px 10px;
    }
    button:hover{
        font-size: 38px ;
    }
    #attempt{
        float: right;
        margin-top: 0px;
        margin-right: 20px;
    }
}